@page "/employees"
@using Codium.Interview.EmployeeEvidenceApp.Client.Services
@using Codium.Interview.EmployeeEvidenceApp.Shared.Models.DTOs
@using Codium.Interview.EmployeeEvidenceApp.Shared.Models.Entities
@using Codium.Interview.EmployeeEvidenceApp.Client.Components.Employee
@inject IEmployeeService employeeService


<div style="display: flex; align-items: center;">
    <h3>Employees</h3>
    <a href="/employees/add" class="btn btn-add" style="margin-left: auto;">
        Add employee
    </a>

</div>
<div>
    @if (employees == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table employee-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birth Date</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in employees)
                {
                    <tr>
                        <td @onclick="@(() => selectedEmployee = employee)">@employee.Name </td>
                        <td @onclick="@(() => selectedEmployee = employee)">@employee.Surname</td>
                        <td>@employee.BirthDate.ToString("yyyy/MM/dd")</td>
                        <td><button type="button" class="btn btn-primary btn-sm" @onclick="@(() => selectedEmployee = employee)">Details</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }


</div>




@if (selectedEmployee is not null)
{
    <EmployeeDetail Employee="selectedEmployee" OnClose="@(() => selectedEmployee = null)" />
}
@if (showNewEmployeeComponent)
{
    <AddEmployeeForm OnClose="@(() => showNewEmployeeComponent = false)"></AddEmployeeForm>
}


@code {
    List<EmployeeDTO> employees;
    EmployeeDTO selectedEmployee;
    bool showNewEmployeeComponent = false;

    protected override async Task OnInitializedAsync()
    {
        employees = await employeeService.GetAllEmployees();
    }



}